cluster: "local"

traefik:
  fullnameOverride: traefik
  image:
    repository: traefik
    tag: 3.2.0
  deployment:
    annotations:
      reloader.stakater.com/match: "true"
  globalArguments:
    - "--global.checknewversion"
    - "--serverstransport.insecureskipverify=true"
    - "--providers.kubernetesingress.ingressclass=traefik"
    - "--metrics.prometheus=true"
    - "--metrics.prometheus.entryPoint=metrics"
  logs:
    general:
      format: json
      level: ERROR
    access:
      enabled: true
      format: json
  service:
    enabled: true
    type: LoadBalancer
    spec:
      externalTrafficPolicy: Local
  ports:
    traefik:
      port: 8080
      expose:
        default: false
      exposedPort: 8080
    web:
      port: 8000
      expose:
        default: true
      exposedPort: 80
      redirectTo:
        entryPoint: websecure
    websecure:
      port: 8443
      expose:
        default: true
      exposedPort: 443
      tls:
        enabled: true
    metrics:
      port: 8082
      expose:
        default: true
      exposedPort: 8082
  metrics:
    prometheus:
      entryPoint: metrics
      addEntryPointsLabels: true
      addServicesLabels: true
      addRoutersLabels: false
      buckets: "0.1,0.3,1.2,5.0"
  ingressRoute:
    dashboard:
      enabled: true
      matchRule: PathPrefix(`/dashboard`) || PathPrefix(`/api`)
      services:
        - name: api@internal
          kind: TraefikService
      entryPoints: ["traefik"]
      tls:
        enabled: true
  ingressClass:
    enabled: true
    isDefaultClass: true
  pilot:
    enabled: false
  rollingUpdate:
    maxUnavailable: 3
    maxSurge: 3
  resources:
    requests:
      cpu: "100m"
      memory: "50Mi"
    limits:
      cpu: "300m"
      memory: "150Mi"
  autoscaling:
    enabled: true
    minReplicas: 5
    maxReplicas: 30
    metrics:
      - type: Resource
        resource:
          name: memory
          target:
            type: Utilization
            averageUtilization: 80
      - type: Resource
        resource:
          name: cpu
          target:
            type: Utilization
            averageUtilization: 80
